version: '3.8'

services:
  web:
    image: sniper-yolo-backend:prod
    container_name: fastapi_app_prod
    ports:
      - "27050:8000"
    depends_on:
      - mongo
    env_file:
      - .env.prod
    # 保留docker-compose中的环境变量优先级高于.env文件，用于覆盖或补充
    environment:
      - MONGODB_URL=mongodb://mongo:27017  # 确保使用容器互联地址

  mongo:
    image: mongo:5.0
    container_name: mongo_db_prod
    volumes:
      - mongo_data_prod:/data/db
    env_file:
      - .env.prod
    # MongoDB不需要映射端口，容器间通过服务名通信
    # ports:
    #   - "27017:27017"

volumes:
  mongo_data_prod:
    driver: local