version: '3.8'

services:
  web:
    image: sniper-yolo-backend:prod
    platform: linux/amd64
    container_name: fastapi_app_prod
    ports:
      - "27050:8000"
    depends_on:
      - mongo
    env_file:
      - .env.prod
    # 保留docker-compose中的环境变量优先级高于.env文件，用于覆盖或补充
    environment:
      - MONGODB_URL=mongodb://mongo:27020  # 确保与MongoDB端口一致

  mongo:
    image: mongo:8.0.1  # 改为与本地相同的版本
    platform: linux/amd64
    container_name: mongo_db_prod
    volumes:
      - mongo_data_prod:/data/db
    env_file:
      - .env.prod
    command: mongod --port 27020

volumes:
  mongo_data_prod:
    driver: local